<div class="columns">
    <div class="column">
      <button class="button">Agregar campo</button>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th class="is-3">Llave</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of current | keyvalue">
                <td>{{record.key}}</td>
                <td>{{record.value}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <app-object-data [schema]="currentSchema" (changeValueEvent)="onRecordStore($event)"></app-object-data>
    </div>
</div>