<div class="columns">
    <div class="column">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th class="is-3">Llave</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>asd</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <h1>asdasd</h1>
    </div>
</div>